<a href="https://colab.research.google.com/github/avinashjamdade436/sql-ig_clone_data/blob/main/project001Customer_Shopping_Dataset_Retail_Sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**
The goal of this notebook is to handle and visualize data of shopping malls in Istanbul

In [ ]:
#  First we import our needed libraries & our Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import datetime as d

In [3]:
data= pd.read_csv('/content/customer_shopping_data.csv.zip',index_col = 'invoice_no')

In [4]:
data.head(2)

,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
invoice_no,,,,,,,,,
I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul

# **Attribute Information:**

**1. invoice_no:** Invoice number. Nominal. A combination of the letter 'I' and a 6-digit integer uniquely assigned to each operation.

**2. customer_id:** Customer number. Nominal. A combination of the letter 'C' and a 6-digit integer uniquely assigned to each operation.

**3. gender:** String variable of the customer's gender.

**4. age:** Positive Integer variable of the customers age.

**5. category:** String variable of the category of the purchased product.

**6. quantity:** The quantities of each product (item) per transaction. Numeric.

**7. price:** Unit price. Numeric. Product price per unit in Turkish Liras (TL).

**8. payment_method:** String variable of the payment method (cash, credit card or debit card) used for the transaction.

**9. invoice_date:** Invoice date. The day when a transaction was generated.

**10. shopping_mall:** String variable of the name of the shopping mall where the transaction was made.

# **Pre-Processing**

In [5]:
df = data.copy()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99457 entries, I138884 to I232867
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     99457 non-null  object
 1   gender          99457 non-null  object
 2   age             99457 non-null  int64
 3   category        99457 non-null  object
 4   quantity        99457 non-null  int64
 5   price           99457 non-null  float64
 6   payment_method  99457 non-null  object
 7   invoice_date    99457 non-null  object
 8   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 7.6+ MB

In [7]:
df.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [8]:
df.isna().sum()

customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

In [9]:
#### creating column for total payment , which is driven from Quantity and price
df['Total_Payment'] = df['quantity'] * df['price']

In [10]:
### Captalize first letter of each column
df.columns = [x.capitalize() for x in df.columns]

In [11]:
df.columns

Index(['Customer_id', 'Gender', 'Age', 'Category', 'Quantity', 'Price',
       'Payment_method', 'Invoice_date', 'Shopping_mall', 'Total_payment'],
      dtype='object')

In [12]:
### Changing type of Inovoice_date to Date Time
df['Invoice_date'] = pd.to_datetime(df['Invoice_date'], dayfirst=True)
df['Day'] = df['Invoice_date'].dt.day_name()
df['Month'] = df['Invoice_date'].dt.month_name()
df['MonthNo'] = df['Invoice_date'].dt.month
df['Year'] = df['Invoice_date'].dt.year

In [13]:
df['Age'].min()

18

In [14]:
df['Age'].max()

69

In [15]:
df['Year'].value_counts()

2022    45551
2021    45382
2023     8524
Name: Year, dtype: int64

In [16]:
## We Will do Age Range Column To help us In Analysis
cut_labels_4 = ['10-20', '21-30', '31-50', '51-70']
cut_bins = [0,20, 30, 50, 71]
df["Age_Range"] =pd.cut(df.Age,
                            bins=cut_bins, 
                         labels=cut_labels_4)

In [17]:
df.head()

,Customer_id,Gender,Age,Category,Quantity,Price,Payment_method,Invoice_date,Shopping_mall,Total_payment,Day,Month,MonthNo,Year,Age_Range
invoice_no,,,,,,,,,,,,,,,
I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,7502.00,Friday,August,8,2022,21-30
I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,5401.53,Sunday,December,12,2021,21-30
I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-11-09,Metrocity,300.08,Tuesday,November,11,2021,10-20
I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,15004.25,Sunday,May,5,2021,51-70
I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,242.40,Sunday,October,10,2021,51-70

# **Exploratory Data Analysis**

**1-) Uni-Variate**

Which Gender has the highest Percentage Purchasing

In [ ]:
df['Gender'].value_counts()

In [ ]:
fig=px.bar(data_frame = df ,
       x = df['Gender'].value_counts().index
       ,y = df['Gender'].value_counts().values
       )
fig.update_xaxes(title='Gender')
fig.update_yaxes(title='Total Number')
fig.update_traces(marker_color='lightsalmon')

 What are The percentages or Distrbution of Ages?

In [ ]:
px.pie(data_frame = df,
        names= df['Age_Range'].value_counts().sort_index().index,
        values= df['Age_Range'].value_counts().sort_index().values,
        title = 'Ages of All Customers ',
        hole = 0.5)

Categoriest with most sales

In [ ]:
fig= px.bar( df , x=df['Category'].value_counts().index ,
           y= df['Category'].value_counts().values)
fig.update_xaxes(title='Gender')
fig.update_yaxes(title='Total Number')
fig.update_traces(marker_color='lightsalmon')

Average Number of Quantities per oder

In [ ]:
px.box(df , x='Quantity')

Average Unit Price of products

In [ ]:
px.box(df , x= 'Price'

Average price of Inovices

In [ ]:
px.box(df , x= 'Total_payment')

Most common used Payment method

In [ ]:
px.pie(data_frame = df,
        names= df['Payment_method'].value_counts().sort_index().index,
        values= df['Payment_method'].value_counts().sort_index().values,
        title = 'Most Common Ued Payment Method ',
        hole = 0.5)

Malls with the highest Sales

In [ ]:
fig= px.bar( df , x=df['Shopping_mall'].value_counts().index ,
           y= df['Shopping_mall'].value_counts().values)
fig.update_xaxes(title='Shoppin mall')
fig.update_yaxes(title='Total Sales')
fig.update_traces(marker_color='lightsalmon')

Months with Highest Purchasing Orders

In [18]:
fig= px.bar( df , x=df['Month'].value_counts().index ,
           y= df['Month'].value_counts().values)
fig.update_xaxes(title='Month')
fig.update_yaxes(title='Total Sales')
fig.update_traces(marker_color='lightsalmon')

# **2-)Bi & Multi Variate Analysis**

Genders And their Preferred Categories

In [ ]:
df1=df.groupby(['Gender'])['Category'].value_counts().to_frame()
df1.rename(columns=({'Category':'Total'}),inplace=True)
df1=df1.reset_index()
df1

In [ ]:
fig= px.bar( df1 , x=df1['Category'] ,
           y= df1['Total']
        , color='Gender'
        , barmode = 'group')
fig.update_xaxes(title='Categories ')
fig.update_yaxes(title='Total Sales')

Most used payment method of each age

In [ ]:
df2 =df.groupby(['Age_Range'])['Payment_method'].value_counts().to_frame()
df2.rename(columns={'Payment_method':'Total'}, inplace = True)
df2 = df2.reset_index()
df2

In [ ]:
fig= px.bar( df2 , x=(df2['Age_Range']) ,
           y= df2['Total']
        , color='Payment_method'
        , barmode = 'group')
fig.update_xaxes(title='Ages')
fig.update_yaxes(title='Total')

Average Total Payment For Both Genders

In [ ]:
df.groupby('Gender')['Total_payment'].describe()

In [ ]:
df.groupby('Gender')['Total_payment'].count()

In [ ]:
px.box(df , x='Total_payment' , color='Gender')

The Correlation Age & Bill Price

In [ ]:
df[['Age','Total_payment']].corr()

In [ ]:
px.imshow(df[['Age','Total_payment']].corr(),text_auto=True , color_continuous_scale= 'redor')

Average Price for each category

In [ ]:
px.box(df , y= 'Price', color='Category')

Total Sales Across All years

In [ ]:
df4 =df.groupby(['MonthNo','Month','Year'])['Total_payment'].sum().reset_index()
df4

In [ ]:
px.line(df4 , x='Month' , y='Total_payment' , color='Year')

Performance of Malls across years

In [ ]:
df5 =df.groupby(['MonthNo','Month','Shopping_mall','Year'])['Total_payment'].sum().reset_index()
df5

In [ ]:
px.bar(df5 , x='Year' , y='Total_payment' , 
       color='Shopping_mall'
      ,barmode='group')

# I hope you like it